{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
                    
        <section id="reg">
            <div class="reg">

                <h1>Register</h1>
                    <div class="formLines">
                        {{ form_row(registrationForm.email, {
                            'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_row(registrationForm.username, {
                            'label' : "Nom d'utilisateur",
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="formPasswords">
                        {{ form_row(registrationForm.plainPassword, {
                            'label' : "Mot de passe",
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                   <div class="agreeTerm">
                    {{ form_row(registrationForm.agreeTerms, {
                        'label' : "Cochez si vous êtes d'accord avec les conditions d'utilisation",
                        'attr': {'class': 'form-check form-check-inline'}
                     })}}
                    </div>
                    <button type="submit" class="button">S'incrire</button>
                {{ form_end(registrationForm) }}
            </div>
    </section>
{% endblock %}
